body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

#numberInput {
  font-size: xx-large;
  text-align: center;
}

table {
  border: 1px solid silver;
  margin-top: 1em;
}

th {
  background: lightgray;
  padding: 1ex;
  text-align: start;
}

td {
  padding: 1ex;
}

td.code {
  font-family: monospace;
}
